{% extends('CmsBundle:Layout:layout.html.twig') %}

{% block content %}
    <div class="container">
        <form action="{{ path('cms_article_create') }}" method="POST" role="form">
            <div class="form-group">
                {{ form_row(form.title, {attr: {class: "form-control"}}) }}
            </div>

            <div class="form-group">
                {{ form_row(form.content, {attr: {class: "form-control"}}) }}
            </div>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}