{% extends("CmsBundle:Layout:layout.html.twig") %}

{% block content %}
    <div class="article-list">
        <div class="container">
            {% if articles|length == 0 %}
                Brak artykułów
            {% else %}  
                {% for article in articles %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="{{ path('cms_article_show', {id: article.id}) }}">{{ article.title }}</a></p>
                            <p><i>{{ article.created|date }}</i></p>
                            <a class="btn btn-primary btn-danger pull-right removeArticle" href="{{ path('cms_article_remove', {id: article.id}) }}">Usuń artykuł</a>
                        </div>

                        <div class="panel-body">
                            {{ article.content}}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
