
{% extends("CmsBundle:Layout:layout.html.twig") %}
{% block content %}
    <div class="article-list">
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ article.title }}
                    <p><i>{{ article.created|date }}, id: {{ article.id }}</i></p>
                    <a class="btn btn-primary btn-danger pull-right removeArticle" href="{{ path('cms_article_remove', {id: article.id}) }}">Usuń artykuł</a>
                </div>

                <div class="panel-body">
                    {{ article.content}}
                </div>
            </div>
                <a href="{{ path('cms_article_list') }}" class="btn btn-primary">Powrót do listy artykułów</a>

            <div class="article-comment-add">
                Napisz komentarz:
                <form action="{{ path('cms_comment_create', {id: article.id}) }}" method="POST" role="form">
                    <div class="form-group">
                        {{ form_row(form.title, {attr: {class: "form-control"}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_row(form.content, {attr: {class: "form-control"}}) }}
                    </div>
                    <input type="submit" class="btn btn-primary"/>
                </form>
            </div>

            <div class="article-comments-list">
                {% for comment in article.comments  %}
                    <div class="panel panel-default">
                        <div class="panel panel-heading">
                            {{ comment.title }}
                        </div>
                        <div class="panel-body">
                            {{ comment.content}}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

