{% set route = app.request.get('_route') %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
    <script   src="https://code.jquery.com/jquery-2.2.1.min.js"   integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="   crossorigin="anonymous"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Rozwiń nawigację</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand" href="#">My website</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li {% if route == 'cms_start' %}class="active"{% endif %}><a href="{{ path('cms_start') }}">Start</a></li>
                <li {% if route == 'cms_article_list' %}class="active"{% endif %}><a href="{{ path('cms_article_list') }}">Lista artykułów</a></li>
                <li {% if route == 'cms_article_create' %}class="active"{% endif %}><a href="{{ path('cms_article_create') }}">Utwórz artykuł</a></li>
            </ul>

            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Szukaj">
                </div>
                <button type="submit" class="btn btn-default">Wyślij</button>
            </form>
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}

</body>
</html>
