.article-list .removeArticle {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
}
.article-list .panel-heading {
    position: relative;
}
.article-comments-list, .article-comment-add {
    margin-top: 25px;
}